---
layout: service
title: Speisekarten
permalink: /service
description: >
  <strong>Hier findest du alle Speisekarten! Von Vorspeisen bis zu Desserts!</strong><br />
  Durchst&ouml;bere unsere Liste mit allen Speisekarten von Restaurants aus R&uuml;lzheim oder der Umgebung.
description_title: "Speisekarten"
---
<div class="container">
	<h3 class="text-center"><strong>Bitte w&auml;hle den Service aus:</strong></h3>
	<div class="row justify-content-md-center">
		<div class="col">
			<a href="{{ "/heimservice" | prepend: site.baseurl }}">
				<div class="row justify-content-md-center"><img src="{{ "/assets/images/Icon-Liefern.png" | prepend: site.baseurl }}" width="220" height="220" /></div>
				<div class="row justify-content-md-center">
						<h3 class="title">Heim- und Lieferservice</h3>
						<span class="post">Du willst etwas bestellen, hast aber keinen Speiseplan?
						W&auml;hle hier deine Spezialit&auml;t und lasse deine Mahlzeit nach Hause liefern!</span>
				</div>
			</a>
		</div>
		<div class="col">
			<a href="{{ "/vorort" | prepend: site.baseurl }}">
				<div class="row justify-content-md-center"><img src="{{ "/assets/images/Icon-Abholen.png" | prepend: site.baseurl }}"" width="220" height="220" /></div>
				<div class="row justify-content-md-center">
						<h3 class="title">Vor Ort oder Abholung</h3>
						<span class="post">Du will ein Restaurant besuchen oder deine Mahlzeit abholen?
						Erkundige dich hier &uuml;ber die Location und Angebote.</span>
				</div>
			</a>
		</div>
	</div>
</div>

