<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 text-center"><small>*Alle Angaben ohne Gewähr!<br />Rilze-Menu.de benötigt JavaScript!</small></div>
    </div>
</div>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-bottom">
	<div class="container">
    <span class="navbar-text">&copy; {{ site.time | date: '%Y' }} <a href="https://rilze-menu.de" target="_blank">Rilze-Menu.de</a></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#footerNavbarResponsive" aria-controls="footerNavbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="footerNavbarResponsive">
			<ul class="nav navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="{{ "/imprint" | prepend: site.baseurl }}">Impressum</a>
				</li>
        <li class="nav-item">
					<a class="nav-link" href="{{ "/privacypolicy" | prepend: site.baseurl }}">Datenschutz</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<script src="{{ "/assets/js/vendor/jquery-3.2.1.slim.min.js" | prepend: site.baseurl }}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="{{ "/assets/js/vendor/popper.min.js" | prepend: site.baseurl }}" integrity="sha256-pS96pU17yq+gVu4KBQJi38VpSuKN7otMrDQprzf/DWY="></script>
<script src="{{ "/assets/js/vendor/bootstrap.min.js" | prepend: site.baseurl }}" integrity="sha256-eZoFcnJ9Ooanw0yPsrZ3CHiXIYUBW+7/hNNqch50sLI="></script>
<script src="{{ "/assets/js/vendor/cookieconsent.min.js" | prepend: site.baseurl }}" integrity="sha256-5VhCqFam2Cn+yjw61zbBNrbHVJ6SRydPeKopYlngbiQ="></script>

<!--script>
  window.cookieconsent.initialise({
    container: document.getElementById("cookieconsent"),
    palette:{
     popup: {background: "#1aa3ff"},
     button: {background: "#e0e0e0"},
    },
    revokable: true,
    onStatusChange: function(status) {
     console.log(this.hasConsented() ?
      'enable cookies' : 'disable cookies');
    },
    "theme": "classic",
    "domain": "https://rilze-menu.de",
    "secure": true,
    "content": {
      "header": 'Cookies used on the website!',
      "message": 'Diese Seite verwendet Cookies um zu funktionieren.',
      "dismiss": 'Verstanden',
      "allow": 'Cookies erlauben',
      "deny": 'Ablehnen',
      "link": 'Learn more',
      "href": 'https://www.cookiesandyou.com',
      "close": '&#x274c;',
      "target": '_blank',
      }
   });
</script-->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-165995885-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-165995885-1');
</script>
