<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }} | {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="rilze-menu, rilze, menu, rülzheim, germersheim,, herxheim, hördt, rheinzabern, herxheimweyher, bellheim, kuhardt, leimersheim, speisekarte, speisekarten, speiseplan, speisepl&auml;ne, heimservice, lieferservice, bestellung, men&uuml;, hunger, essen, essenskultur, party, partyservice, asiatisch, italienisch, indisch, t&uuml;rkisch, mcdonalds, burgerking">
  <link rel="shortcut icon" type="image/x-icon" href="{{ "/assets/images/favicon.ico" | prepend: site.baseurl }}" />
  <link rel="stylesheet" href="{{ "/assets/css/vendor/superhero/bootstrap.css" | prepend: site.baseurl }}" />
  <link rel="stylesheet" href="{{ "/assets/css/custom.min.css" | prepend: site.baseurl }}" />
  <link rel="stylesheet" href="{{ "/assets/css/vendor/fontawesome/css/all.min.css" | prepend: site.baseurl }}" />
  <link rel="stylesheet" href="{{ "/assets/css/vendor/cookieconsent.min.css" | prepend: site.baseurl }}" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>
