<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
	<div class="container">
		<a href="{{ "/index" | prepend: site.baseurl }}" class="navbar-brand">Rilze-Menu.de</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{{ "/service" | prepend: site.baseurl }}" id="themes">Speisekarten <span class="caret"></span></a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="{{ "/service" | prepend: site.baseurl }}">&Uuml;bersicht</a>
						<div class="dropdown-divider"></div>
						{% for page in site.pages %}
							{% if page.categories contains 'restaurant' %}
									<a class="dropdown-item" href="{{ page.url | absolute_url }}">{{page.title}}</a>
							{% endif %}
						{% endfor %}
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ "/partner" | prepend: site.baseurl }}">Partner</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
