{% if page.description_title %}
<div class="container">
    <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">{{ page.description_title }}</h4>
        <p>{{ page.description }}</p>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">COVID-19</h4>
        <p>Aufgrund der aktuellen COVID-19 Situation können die Öffnungszeiten und Liefermöglichkeiten einiger Restaurants von den regulären Angaben auf den Speisekarten abweichen!</p>
        <hr>
        <p class="mb-0">Bei Fragen kontaktieren Sie bitte direkt das Restaurant.</p>
      </div>
    </div>
  </div>
</div>
