<!DOCTYPE html>
<html>
  {%- include head.html -%}
  <body>
    <div id="cookieconsent"></div>
    {%- include header.html -%}
    <main role="main">
      {{ content }}
    </main>
    {%- include footer.html -%}
  </body>
</html>
