---
layout: default
---
{%- include site_description.html -%}
{%- include advert.html -%}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      {{ content }}
    </div>
  </div>
</div>
