---
layout: default
---
<div class="container">
    <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="alert alert-warning" role="alert">
        <h2 class="alert-heading">{{ page.title }}</h2>
        <p>Spezialit&auml;t: {{ page.speciality }}</p>
        <hr>
        <h4 class="mb-0">Zurzeit <span id="openHoursCurrentState"></span>*</h4>
      </div>
    </div>
  </div>
</div>

<div class="container restaurant-address">
  <div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="row">
            <div class="col">
                <div class="row">
                    {{ page.address }}
                </div>
                <div class="row">
                    <dl>
                        {%- if page.deliver -%}
                            <dd>Mindestbestellwert:&nbsp;{%- if page.minimum_deliver_order -%}{{ page.minimum_deliver_order }} EUR{%- else -%}KA{%- endif -%}</dd>
                        {%- endif -%}
                        <dd>Letzte Aktualisierung:&nbsp;{{ site.time | date: "%d.%m.%Y" }}</dd>
                    </dl>
                </div>
            </div>

            <div class="col">
                <div class="row">
                    <p><strong>Lieferzeiten</strong>*</p>
                    <table class="table table-sm">
                        <tbody>
                            <tr>
                                <th scope="row">Montag</th>
                                <td id="openHoursMonday"></td>
                            </tr>
                            <tr>
                                <th scope="row">Dienstag</th>
                                <td id="openHoursTuesday"></td>
                            </tr>
                            <tr>
                                <th scope="row">Mittwoch</th>
                                <td id="openHoursWednesday"></td>
                            </tr>
                            <tr>
                                <th scope="row">Donnerstag</th>
                                <td id="openHoursThursday"></td>
                            </tr>
                            <tr>
                                <th scope="row">Freitag</th>
                                <td id="openHoursFriday"></td>
                            </tr>
                            <tr>
                                <th scope="row">Samstag</th>
                                <td id="openHoursSaturday"></td>
                            </tr>
                            <tr>
                                <th scope="row">Sonntag</th>
                                <td id="openHoursSunday"></td>
                            </tr>
                            <tr>
                                <th scope="row">Feiertag</th>
                                <td id="openHoursHoliday"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

{%- include advert.html -%}

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <h3>Speisekarte</h3>
      {{ content }}
    </div>
  </div>
</div>

{%- include getCurrentOpeningHoursState.js -%}
<script>
    function setOpenHours(htmlOpenHoursFieldId, arrayDayIdx) {
        if (openingHours[arrayDayIdx][0] != null && openingHours[arrayDayIdx][1] != null) {
            document.getElementById(htmlOpenHoursFieldId).innerHTML = openingHours[arrayDayIdx][0].toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'}) + " - " + openingHours[arrayDayIdx][1].toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'});
        } else {
            document.getElementById(htmlOpenHoursFieldId).innerHTML = "Ruhetag";
        }
    }

    setOpenHours("openHoursMonday", 1);
    setOpenHours("openHoursTuesday", 2);
    setOpenHours("openHoursWednesday", 3);
    setOpenHours("openHoursThursday", 4);
    setOpenHours("openHoursFriday", 5);
    setOpenHours("openHoursSaturday", 6);
    setOpenHours("openHoursSunday", 0);
    setOpenHours("openHoursHoliday", 7);
    
    var today = new Date();
    var weekDay = today.getDay(); // starts with 0 = sunday!
    var state = getCurrentOpeningHoursState(today, openingHours[weekDay]);

    document.getElementById("openHoursCurrentState").innerHTML = (state ? "Geöffnet!": "Geschlossen!");
    //document.getElementById("openHoursCurrentState").style.color = (state ? "green" : "red");
    document.getElementById("openHoursCurrentState").className = "badge badge-" + (state ? "success" : "danger");
</script>
